html,
body {
  height: 100%;
  font-family: "Open Sans", sans-serif !important;
  color: #000;
  /* The html and body elements cannot have any padding or margin. */
}

h1, h2, h3, h4, h5 {
  font-family: "Open Sans", sans-serif !important;
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -30px;
  /* Pad bottom by footer height */
  padding: 0 0 30px;
}

/* Set the fixed height of the footer here */
#footer {
  background: url("/images/binding_dark.png") repeat;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  font-size: 13px;
  padding: 5px 0;
  border-top: 4px solid #2e2e2e;
}

#footer div {
  text-align: center;
  margin: 0 auto;
}

#footer p {
  float: left;
}

/* Lastly, apply responsive CSS fixes as necessary */
@media (max-width: 767px) {
  #footer {
    margin-left: -20px;
    margin-right: -20px;
    padding-left: 20px;
    padding-right: 20px;
  }
}



/* Custom page CSS
-------------------------------------------------- */
/* Not required for template or sticky footer method. */
.intro {
  padding: 0px 0px 30px 0px;
}

.page-header {
  padding-bottom: 9px;
  margin: 20px 0 20px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

.waiting-for-player {
  display: block;
}

.timer {
  font-size: 2em;
  font-weight: bold;
}

.question, .round-count, .leave-game, .score-row, .retry-game {
  padding: 5px;
  font-size: 1.6em;
  font-weight: bold;
  text-shadow: 1px;
  text-align: center;
}

.logo {
  display: inline-block;
  width: 101px;
  height: 49px;
  text-indent: -9999px;
}

.borderless td, .borderless th {
  border: none !important;
  vertical-align: middle;
}

.player-info {
  display: none;
  padding: 0px 0px 30px 0px;
}

#waiting, .results-success, .results, .results-fail, .results-draw, .game {
  display: none;
}

.results-success, .results-draw, .results-fail {
  margin: 25px;
}

.row h2, .row h3, .row p {
  padding-left: 15px;
}

.correctanswer {
  background-color: #4CAF50;
}

.wronganswer {
  background-color: #f44336;
}

.mobileHoverFix:hover {
  background-color: #FFFFFF;
}

.col h2 {
    text-align:center;
    position: absolute;
    line-height: 125px;
    width: 100%;
}

svg {
    /* transform: rotate(-90deg); */
    display: block;
    margin: auto;
}

circle {
  transform: rotate(-90deg);
  transform-origin: 50% 50%;
}
.circle_animation {
  stroke-dasharray: 440; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 440;
  transition: all 1s linear;
}

#myscore {
  width: 50%;
}

#opponentscore {
  width: 50%;
}
/*# sourceMappingURL=style.css.map */
